<style>

    body {
      background: linear-gradient(green, #06c);
      background-repeat: no-repeat;
      font-size: 25px;
      font-style: sans-serif;
      text-align: center;

    }
  </style>
