<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <!-- <link rel="stylesheet" type="text/css" href="/style.css"> -->
  <title>Gym Management System</title>
</head>
<body>
  <nav>
    <ul id="nav">
      <li>
        <a href="/members">Members</a>
      </li>
      <li>
        <a href="/activities">Classes</a>
      </li>
      <li>
        <a href="/bookings">Bookings</a>
      </li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
