<!-- <iterate over array and map to html tags -->
<html>

  <style>

      body {
        background: linear-gradient(green, #06c);
        background-repeat: no-repeat;
        font-size: 25px;
        font-style: sans-serif;
        text-align: center;


      }
    </style>
    <body>


    <center><h2><u>Customer Bookings:</u></h2></center>

    <h3><% @customers.each do |show|  %>
      <p>Customer: <%= show.name %></p>
      <p>Funds: <%= show.funds%> </p>
      <p><a href="/customers/<%= show.id %>"><h2>view</h3></a></p><
        <% end %></h3>
</body>
</html>
