<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>rock, paper, scissors</title>
</head>
<body class="result">

  <br>
  <h1 class="output"><%= @result.to_s %> </h1>

  <hr>
  <a href='/'><h2 class="home"><b>Play Again</b></h2></a>

</body>
</html>
