<!DOCTYPE html>
<html lang="
" dir="ltr">
<head>
  <title>Rock, Paper, Scissors!</title>

</head>
<body class="main">
  <h1 style="color:blue;">Rock, Scissors,Paper!</h1>

  <h4><p> welcome to the wonderful game of paper,scissors,rock</p></h4>

  <h1><b> Rules</b></h1>
  <p>To play, simply enter the following address and the 'hand' you wish to play. For example: 'localhost:4567/rock/scissors'.</p>
  <p>A simple game consisting of three elements paper, rock ,scissors. With both players taking it in return to produce a 'hand',
    the player with the 'stronger' element wins. If both players equal-then it is a draw.</p>
    <br>

    <h2><a href="rock/scissors">Rock</a></h2>
    <h2><a href="paper/rock">Paper</a></h2>
    <h2><a href="scissors/paper">Scissors</a></h2>

    <body style="text-align:center;">

      <div class="tooltip">
        <span class="tooltiptext"></span>
        <img src="https://s3.eu-west-2.amazonaws.com/photo-rps/rock1.png" alt="choose rock/paper/scissors">
        <center> <span class="tooltiptext">choose rock, paper or scissors to play</span></center>
      </div>
    </body>

  </html>
