<!-- <iterate over array and map to html tags -->
<html>
<head>
  Films
</head>
<style>
  body {
    background: linear-gradient(green, #06c);
    font-size: 25px;
    font-style: sans-serif;
    text-align: center;


  }
</style>

<body>

  <center><h2><u>Bookings:</u></h2></center>

  <h3><% @films.each do |list|  %>
    <p>Title: <%= list.title %></p>
    <p>price: <%= list.price%> </p>
    <p>Times: <%= list.times%> </p>
    <p><a href="/films/<%= list.id %>"><h2>view</h3></a></p>
      <% end %>
    </body>


      </html>
