<!-- <iterate over array and map to html tags -->
<center><h2><u>Movies Showing</u></h2></center>

<center>
<h3><% @films.each do |list|  %>
<p>Title: <%= list.title %></p>
<p>price: <%= list.price%> </p>
<p><a href="/films/<%= list.id %>"><h2>view</h3></a></p><!-- NEW LINE ADDED -->
<% end %></h3>
</center>
