<html>

<body>
    <div  class="background">
  <center>
    <form method ="post" action="/films">
      <label for ="title">Title:</label>
      <input id="title" type="text" name="title"/>

      <label for="price">Price :</label>
      <input id="price" type="text" name="price"/>

      <label for="times">Time :</label>
      <input id="times" type="text" name="times"/>

      <input type='submit'value="Add Film"/>
      </body>
    </form>
    </div>
  </center>
    </html>
