<html>
<!-- <iterate over array and map to html tags -->
<html>
<head>

</head>


<body>

  <center>
    <form method ="post" action="/customers">

      <label for ="name">Name:</label>
      <input id="name" type="text" name="name"/>

      <label for="funds">Cash:</label>
      <input id="funds" type="text" name="funds"/>

      <input type='submit'value="Add Customer"/>

    </form>

  </center>
</body>
</html>
