<h1>Add Class</h1>
<hr>
<form method="POST" action="/activities">

  <label for="session">Session:</label>
  <input type="text" name="session" id="session"/>

  <label for="spaces">Spaces:</label>
  <input type="text" name="spaces" id="spaces"/>

  <label for="description">Description:</label>
  <input type="text" name="description" id="description"/>

  <label for="duration">Duration:</label>
  <input type="text" name="duration" id="duration"/>

  <label for="time_of_day">Time :</label>
  <input type="text" name="time_of_day" id="time_of_day"/>


  <input type="submit" value="Add Class"/>

</form>
